			<div class="games">
				<div class="title">
					<a href="javascript:;" class="a"><?php echo L('both_sides')?></a>
					<a href="javascript:;"><?php echo L('rank_1_5')?></a>
					<a href="javascript:;"><?php echo L('rank_6_10')?></a>
				</div>
				<div id="game" class="line_box">
					<div class="line a">
						<h4><?php echo L('total_sum')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_ZHDA" data="ZHDA" data_type="<?php echo L('total_sum')?>"><i><?php echo L('total_big')?></i><em></em></a>
							<a href="javascript:;" class="C_ZHX" data="ZHX" data_type="<?php echo L('total_sum')?>"><i><?php echo L('total_small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_ZHD" data="ZHD" data_type="<?php echo L('total_sum')?>"><i><?php echo L('total_odd')?></i><em></em></a>
							<a href="javascript:;" class="C_ZHS" data="ZHS" data_type="<?php echo L('total_sum')?>"><i><?php echo L('total_even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_1')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_1DA" data="1DA" data_type="<?php echo L('ball_1')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_1X" data="1X" data_type="<?php echo L('ball_1')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_1D" data="1D" data_type="<?php echo L('ball_1')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_1S" data="1S" data_type="<?php echo L('ball_1')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_2')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_2DA" data="2DA" data_type="<?php echo L('ball_2')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_2X" data="2X" data_type="<?php echo L('ball_2')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_2D" data="2D" data_type="<?php echo L('ball_2')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_2S" data="2S" data_type="<?php echo L('ball_2')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_3')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_3DA" data="3DA" data_type="<?php echo L('ball_3')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_3X" data="3X" data_type="<?php echo L('ball_3')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_3D" data="3D" data_type="<?php echo L('ball_3')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_3S" data="3S" data_type="<?php echo L('ball_3')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_4')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_4DA" data="4DA" data_type="<?php echo L('ball_4')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_4X" data="4X" data_type="<?php echo L('ball_4')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_4D" data="4D" data_type="<?php echo L('ball_4')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_4S" data="4S" data_type="<?php echo L('ball_4')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_5')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_5DA" data="5DA" data_type="<?php echo L('ball_5')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_5X" data="5X" data_type="<?php echo L('ball_5')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_5D" data="5D" data_type="<?php echo L('ball_5')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_5S" data="5S" data_type="<?php echo L('ball_5')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_6')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_6DA" data="6DA" data_type="<?php echo L('ball_6')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_6X" data="6X" data_type="<?php echo L('ball_6')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_6D" data="6D" data_type="<?php echo L('ball_6')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_6S" data="6S" data_type="<?php echo L('ball_6')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_7')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_7DA" data="7DA" data_type="<?php echo L('ball_7')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_7X" data="7X" data_type="<?php echo L('ball_7')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_7D" data="7D" data_type="<?php echo L('ball_7')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_7S" data="7S" data_type="<?php echo L('ball_7')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
						<h4><?php echo L('ball_8')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_8DA" data="8DA" data_type="<?php echo L('ball_8')?>"><i><?php echo L('big')?></i><em></em></a>
							<a href="javascript:;" class="C_8X" data="8X" data_type="<?php echo L('ball_8')?>"><i><?php echo L('small')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_8D" data="8D" data_type="<?php echo L('ball_8')?>"><i><?php echo L('odd')?></i><em></em></a>
							<a href="javascript:;" class="C_8S" data="8S" data_type="<?php echo L('ball_8')?>"><i><?php echo L('even')?></i><em></em></a>
						</div>
					</div>
					<div class="line hm_list">
						<h4><?php echo L('ball_1')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_1A<?php echo $i?>" data="1A<?php echo $i?>" data_type="<?php echo L('ball_1')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_2')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_2A<?php echo $i?>" data="2A<?php echo $i?>" data_type="<?php echo L('ball_2')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_3')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_3A<?php echo $i?>" data="3A<?php echo $i?>" data_type="<?php echo L('ball_3')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_4')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_4A<?php echo $i?>" data="4A<?php echo $i?>" data_type="<?php echo L('ball_4')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_5')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_5A<?php echo $i?>" data="5A<?php echo $i?>" data_type="<?php echo L('ball_5')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
					</div>
					<div class="line">
						<h4><?php echo L('ball_6')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_6A<?php echo $i?>" data="6A<?php echo $i?>" data_type="<?php echo L('ball_6')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_7')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_7A<?php echo $i?>" data="7A<?php echo $i?>" data_type="<?php echo L('ball_7')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
						<h4><?php echo L('ball_8')?></h4>
						<div class="tab num">
<?php for($i=1;$i<=20;$i++): ?>
							<a href="javascript:;" class="C_8A<?php echo $i?>" data="8A<?php echo $i?>" data_type="<?php echo L('ball_8')?>"><i class="blue"><?php echo $i?></i><em></em></a>
<?php endfor ?>
						</div>
					</div>
				</div>
			</div>
