<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=<?php echo CHARSET?>" />
        <meta http-equiv="Content-Language" content="<?php echo defined('ROUTE_LANG') ? (ROUTE_LANG == 'zh-cn' ? 'zh-CN' : (ROUTE_LANG == 'en-us' ? 'en' : 'my')) : 'zh-CN'?>" />
        <title><?php echo $title?></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="keywords" content="<?php echo $keywords?>" />
        <meta name="description" content="<?php echo $description?>" />
        <link rel="Shortcut Icon" href="favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="<?php echo IMG_PATH?>app_logo.png" />
        <link type="text/css" rel="stylesheet" href="<?php echo CSS_PATH?>global.css" />
        <link type="text/css" rel="stylesheet" href="<?php echo CSS_PATH?>common_touch.css?2019" />
        <link type="text/css" rel="stylesheet" href="<?php echo CSS_PATH?>font/iconfont.css" />
        <script type="text/javascript" src="<?php echo JS_PATH?>jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="<?php echo JS_PATH?>layer/layer.min.js"></script>
        <script type="text/javascript" src="<?php echo JS_PATH?>global.js?v=20260525"></script>
        <script type="text/javascript" src="<?php echo JS_PATH?>common.js?v=20260525"></script>
        <script type="text/javascript" src="<?php echo JS_PATH?>i18n.js?v=20260525"></script>
        <script type="text/javascript">
                var WEB_PATH = '<?php echo WEB_PATH?>';//首页路径
                var INDEX_PATH = '<?php echo INDEX_PATH?>';//首页URL
                var JS_PATH = '<?php echo JS_PATH?>';//JS路径
                var CSS_PATH = '<?php echo CSS_PATH?>';//CSS路径
                var IMG_PATH = '<?php echo IMG_PATH?>';//IMG路径
                var USERNAME_TYPE = '<?php echo $this->setting['username_type']?>';//用户名的限制类型
                var ISMOBILE = <?php echo $this -> mobile?>;//是否手机
                var I18N_LANG = '<?php echo defined("ROUTE_LANG") ? ROUTE_LANG : "zh-cn"?>';//当前语言(由后端配置控制)
        </script>
</head>
<body>
