<?php include template("header"); ?>
<div class="main">
        <div class="header">
                <a class="back" href="javascript:history.back(-1)" title="返回"><i class="iconfont icon-fanhui"></i></a>
                <a class="home" href="?a=init" title="首页"><i class="iconfont icon-home"></i></a>
                <h4><?php echo $headername?></h4>
        </div>
        <div class="scroll_box">
                <div class="login_box">
                        <form action="?a=login" method="post" id="login_form" onsubmit="return false;">
                                <input type="hidden" name="dosubmit" id="dosubmit" value="yes">
                                <div class="form_div">
                                        <ul>
                                                <li>
                                                        <input class="inputxt name" type="text" name="username" id="username" value="" placeholder="<?php echo L('username')?>" />
                                                </li>
                                                <li>
                                                        <input class="inputxt pwd" type="password" id="password" name="password" value="" placeholder="<?php echo L('password')?>" />
                                                        <b class="tp-btn btn-off"></b>
                                                </li>
                                                <li>
                                                        <input class="inputxt yzm" type="text" id="code" name="code" value="" placeholder="<?php echo L('captcha')?>" />
                                                        <span class="code"><?php echo form::checkcode('code_img', '4', '14', 84, 34, '' , '', '#FFFFFF', true, '0123456789')?></span>
                                                </li>
                                        </ul>
                                </div>
                                <div class="submit">
                                        <input type="submit" id="submit" name="submit" value="<?php echo L('login_btn')?>" />
                                        <a class="reg" href="?a=register"><?php echo L('register_link')?></a>
                                        <a class="pwd" href="javascript:layer.alert('<?php echo L('forgot_password_tip')?>', {icon: 0});"><?php echo L('forgot_password')?></a>
                                </div>
                        </form>
                </div>
        </div>
</div>
<script type="text/javascript" src="<?php echo JS_PATH?>Validform_v5.3.2.js"></script>
<script type="text/javascript">
$(function(){
        var Vform = $("#login_form").Validform();
        Vform.config({
                tiptype:1,
                ajaxPost:true,
                callback:function(data){
                        if (data.status == 'y') {
                                layer.msg(data.info, {icon: 6});
                                Vform.resetForm();//初始化表单
                                setTimeout(function(){//2秒后刷新
                                        location.reload();
                                }, 2000);
                        } else {
                                layer.msg(data.info, {icon: 5});
                                Vform.resetForm();//初始化表单
                                $('#code_img').click();
                        }
                }
        });

        Vform.addRule([
                {
                        ele:'#username',
                        datatype:'*1-20',
                        nullmsg:'<?php echo L('enter_username')?>',
                        errormsg:'<?php echo L('username_length_limit')?>'
                },
                {
                        ele:'#password',
                        datatype:'s6-20',
                        nullmsg:'<?php echo L('enter_password')?>',
                        errormsg:'<?php echo L('password_length_limit')?>'
                },
                {
                        ele:'#code',
                        datatype:'s4-4',
                        nullmsg:'<?php echo L('enter_captcha')?>',
                        errormsg:'<?php echo L('captcha_4_digits')?>'
                }
        ]);
        $('.btn-off').on('click',function() {
                if ($(this).hasClass('btn-on')) {
                        $(this).removeClass('btn-on');
                        $(this).prev()[0].type = 'password';
                } else {
                        $(this).addClass('btn-on');
                        $(this).prev()[0].type = 'text';
                }
        });
        placeholder('.login_box');//表单提示IE兼容
        //自动调整窗口
        $(window).resize(function() {
                var h = $(window).height();
                $('.scroll_box').css({'height':h-49});
        }).resize();
});
</script>
<?php include template("footer"); ?>