<?php include template("header"); ?>
<div class="main">
	<div class="header">
		<a class="back" href="javascript:history.back(-1)" title="<?php echo L('rules_back')?>"><i class="iconfont icon-fanhui"></i></a>
		<a class="home" href="?a=init" title="<?php echo L('rules_home')?>"><i class="iconfont icon-home"></i></a>
		<h4><?php echo $headername?></h4>
	</div>
	<div class="scroll_box">
		<div class="rules">
			<div class="title"><?php echo L('rules_liubo_title')?></div>
			<div class="msg">
				<h5><?php echo L('rules_declaration_title')?></h5>
				<p><?php echo L('rules_declaration_1')?></p>
				<p><?php echo L('rules_declaration_2')?></p>
				<p><?php echo L('rules_declaration_3')?></p>
				<p><?php echo L('rules_declaration_4')?></p>
				<p><?php echo L('rules_declaration_5')?></p>
				<p><?php echo L('rules_declaration_6')?></p>
				<p><?php echo L('rules_declaration_7')?></p>
				<p><?php echo L('rules_declaration_8')?></p>
				<p><?php echo L('rules_declaration_9')?></p>
				<h5><?php echo L('rules_liubo_subtitle')?></h5>
				<p><?php echo L('rules_liubo_desc')?></p>
				<p><?php echo L('rules_liubo_desc2')?></p>
				<h5><?php echo L('rules_liubo_gameplay')?></h5>
				<p><span><?php echo L('rules_liubo_big_small_odd_even')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_big')?></span><?php echo L('rules_liubo_big_desc')?></p>
					<p><span><?php echo L('rules_liubo_small')?></span><?php echo L('rules_liubo_small_desc')?></p>
					<p><span><?php echo L('rules_liubo_odd')?></span><?php echo L('rules_liubo_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_even')?></span><?php echo L('rules_liubo_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_big_odd')?></span><?php echo L('rules_liubo_big_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_big_even')?></span><?php echo L('rules_liubo_big_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_small_odd')?></span><?php echo L('rules_liubo_small_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_small_even')?></span><?php echo L('rules_liubo_small_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_big_small_note')?></span></p>
				</div>
				<p><span><?php echo L('rules_liubo_color')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_red')?></span><?php echo L('rules_liubo_red_desc')?></p>
					<p><span><?php echo L('rules_liubo_blue')?></span><?php echo L('rules_liubo_blue_desc')?></p>
					<p><span><?php echo L('rules_liubo_green')?></span><?php echo L('rules_liubo_green_desc')?></p>
					<p><span><?php echo L('rules_liubo_red_big')?></span><?php echo L('rules_liubo_red_big_desc')?></p>
					<p><span><?php echo L('rules_liubo_red_small')?></span><?php echo L('rules_liubo_red_small_desc')?></p>
					<p><span><?php echo L('rules_liubo_red_odd')?></span><?php echo L('rules_liubo_red_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_red_even')?></span><?php echo L('rules_liubo_red_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_blue_big')?></span><?php echo L('rules_liubo_blue_big_desc')?></p>
					<p><span><?php echo L('rules_liubo_blue_small')?></span><?php echo L('rules_liubo_blue_small_desc')?></p>
					<p><span><?php echo L('rules_liubo_blue_odd')?></span><?php echo L('rules_liubo_blue_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_blue_even')?></span><?php echo L('rules_liubo_blue_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_green_big')?></span><?php echo L('rules_liubo_green_big_desc')?></p>
					<p><span><?php echo L('rules_liubo_green_small')?></span><?php echo L('rules_liubo_green_small_desc')?></p>
					<p><span><?php echo L('rules_liubo_green_odd')?></span><?php echo L('rules_liubo_green_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_green_even')?></span><?php echo L('rules_liubo_green_even_desc')?></p>
				</div>
				<p><span><?php echo L('rules_liubo_zodiac')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_ox')?></span><?php echo L('rules_liubo_ox_desc')?></p>
					<p><span><?php echo L('rules_liubo_rooster')?></span><?php echo L('rules_liubo_rooster_desc')?></p>
					<p><span><?php echo L('rules_liubo_sheep')?></span><?php echo L('rules_liubo_sheep_desc')?></p>
					<p><span><?php echo L('rules_liubo_pig')?></span><?php echo L('rules_liubo_pig_desc')?></p>
					<p><span><?php echo L('rules_liubo_dog')?></span><?php echo L('rules_liubo_dog_desc')?></p>
					<p><span><?php echo L('rules_liubo_horse')?></span><?php echo L('rules_liubo_horse_desc')?></p>
					<p><span><?php echo L('rules_liubo_snake')?></span><?php echo L('rules_liubo_snake_desc')?></p>
					<p><span><?php echo L('rules_liubo_rat')?></span><?php echo L('rules_liubo_rat_desc')?></p>
					<p><span><?php echo L('rules_liubo_tiger')?></span><?php echo L('rules_liubo_tiger_desc')?></p>
					<p><span><?php echo L('rules_liubo_rabbit')?></span><?php echo L('rules_liubo_rabbit_desc')?></p>
					<p><span><?php echo L('rules_liubo_dragon')?></span><?php echo L('rules_liubo_dragon_desc')?></p>
					<p><span><?php echo L('rules_liubo_monkey')?></span><?php echo L('rules_liubo_monkey_desc')?></p>
				</div>
				<p><span><?php echo L('rules_liubo_poultry_beast')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_poultry')?></span><?php echo L('rules_liubo_poultry_desc')?></p>
					<p><span><?php echo L('rules_liubo_beast')?></span><?php echo L('rules_liubo_beast_desc')?></p>
					<p><span><?php echo L('rules_liubo_poultry_beast_note')?></span></p>
				</div>
				<p><span><?php echo L('rules_liubo_sum')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_sum_big')?></span><?php echo L('rules_liubo_sum_big_desc')?></p>
					<p><span><?php echo L('rules_liubo_sum_small')?></span><?php echo L('rules_liubo_sum_small_desc')?></p>
					<p><span><?php echo L('rules_liubo_sum_odd')?></span><?php echo L('rules_liubo_sum_odd_desc')?></p>
					<p><span><?php echo L('rules_liubo_sum_even')?></span><?php echo L('rules_liubo_sum_even_desc')?></p>
					<p><span><?php echo L('rules_liubo_sum_note')?></span></p>
				</div>
				<p><span><?php echo L('rules_liubo_head_tail')?></span></p>
				<div>
					<p><span><?php echo L('rules_liubo_head')?></span><?php echo L('rules_liubo_head_desc')?></p>
					<p><span><?php echo L('rules_liubo_tail')?></span><?php echo L('rules_liubo_tail_desc')?></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	//自动调整窗口
	$(window).resize(function() {
		var h = $(window).height();
		$('.scroll_box').css({'height':h-49});
	}).resize();
});
</script>
<?php include template("footer"); ?>