<?php include template("header"); ?>
<div class="main">
	<div class="header">
		<a class="back" href="javascript:history.back(-1)" title="<?php echo L('rules_back')?>"><i class="iconfont icon-fanhui"></i></a>
		<a class="home" href="?a=init" title="<?php echo L('rules_home')?>"><i class="iconfont icon-home"></i></a>
		<h4><?php echo $headername?></h4>
	</div>
	<div class="scroll_box">
		<div class="rules">
			<div class="title"><?php echo L('rules_cqssc_title')?></div>
			<div class="msg">
				<h5><?php echo L('rules_declaration_title')?></h5>
				<p><?php echo L('rules_declaration_1')?></p>
				<p><?php echo L('rules_declaration_2')?></p>
				<p><?php echo L('rules_declaration_3')?></p>
				<p><?php echo L('rules_declaration_4')?></p>
				<p><?php echo L('rules_declaration_5')?></p>
				<p><?php echo L('rules_declaration_6')?></p>
				<p><?php echo L('rules_declaration_7')?></p>
				<p><?php echo L('rules_declaration_8')?></p>
				<p><?php echo L('rules_declaration_9')?></p>
				<h5><?php echo L('rules_cqssc_subtitle')?></h5>
				<p><?php echo L('rules_cqssc_desc')?></p>
				<p><?php echo L('rules_cqssc_rules_intro')?></p>
				<p><span><?php echo L('rules_cqssc_rule_1')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_1_special')?></span><?php echo L('rules_cqssc_rule_1_special_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_1_odd_even_big_small')?></span><?php echo L('rules_cqssc_rule_1_odd_even_big_small_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_1_big_small')?></span><?php echo L('rules_cqssc_rule_1_big_small_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_1_odd_even')?></span><?php echo L('rules_cqssc_rule_1_odd_even_desc')?></p>
				</div>
				<p><span><?php echo L('rules_cqssc_rule_2')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_2_big_small')?></span><?php echo L('rules_cqssc_rule_2_big_small_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_2_odd_even')?></span><?php echo L('rules_cqssc_rule_2_odd_even_desc')?></p>
				</div>
				<p><span><?php echo L('rules_cqssc_rule_3')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_3_triple')?></span><?php echo L('rules_cqssc_rule_3_triple_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_3_straight')?></span><?php echo L('rules_cqssc_rule_3_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_3_pair')?></span><?php echo L('rules_cqssc_rule_3_pair_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_3_half_straight')?></span><?php echo L('rules_cqssc_rule_3_half_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_3_mixed')?></span><?php echo L('rules_cqssc_rule_3_mixed_desc')?></p>
				</div>
				<p><span><?php echo L('rules_cqssc_rule_4')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_4_triple')?></span><?php echo L('rules_cqssc_rule_4_triple_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_4_straight')?></span><?php echo L('rules_cqssc_rule_4_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_4_pair')?></span><?php echo L('rules_cqssc_rule_4_pair_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_4_half_straight')?></span><?php echo L('rules_cqssc_rule_4_half_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_4_mixed')?></span><?php echo L('rules_cqssc_rule_4_mixed_desc')?></p>
				</div>
				<p><span><?php echo L('rules_cqssc_rule_5')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_5_triple')?></span><?php echo L('rules_cqssc_rule_5_triple_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_5_straight')?></span><?php echo L('rules_cqssc_rule_5_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_5_pair')?></span><?php echo L('rules_cqssc_rule_5_pair_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_5_half_straight')?></span><?php echo L('rules_cqssc_rule_5_half_straight_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_5_mixed')?></span><?php echo L('rules_cqssc_rule_5_mixed_desc')?></p>
				</div>
				<p><span><?php echo L('rules_cqssc_rule_6')?></span></p>
				<div>
					<p><span><?php echo L('rules_cqssc_rule_6_dragon')?></span><?php echo L('rules_cqssc_rule_6_dragon_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_6_tiger')?></span><?php echo L('rules_cqssc_rule_6_tiger_desc')?></p>
					<p><span><?php echo L('rules_cqssc_rule_6_tie')?></span><?php echo L('rules_cqssc_rule_6_tie_desc')?></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	//自动调整窗口
	$(window).resize(function() {
		var h = $(window).height();
		$('.scroll_box').css({'height':h-49});
	}).resize();
});
</script>
<?php include template("footer"); ?>